@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Noto+Sans+Mono:wght@400;700&display=swap');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    min-height: 100vh;
    position: relative;
}

body * {
    text-decoration: none;
}

main {
    width: 80%;
    margin: 0 auto;
}

nav {
    width: 100%;
    display: flex;
    background-color: #FF3358;
    height: 120px;
    font-family: 'Arvo', 'Noto Sans Mono';
}

svg {
   width: 400px; 
}

svg:hover .letter {
    animation: bounce 1s ease;
}

svg:hover .letter:nth-child(2){
    animation-delay: 0.1s;
}

svg:hover .letter:nth-child(3){
    animation-delay: 0.2s;
}

svg:hover .letter:nth-child(4){
    animation-delay: 0.3s;
}

svg:hover .letter:nth-child(5){
    animation-delay: 0.4s;
}

svg:hover .letter:nth-child(6){
    animation-delay: 0.5s;
}

svg:hover .letter:nth-child(7){
    animation-delay: 0.6s;
}

svg:hover .letter:nth-child(8){
    animation-delay: 0.7s;
}





@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-20px);
    }
    90% {
        transform: translateY(0);
    }
}


nav * {
    color: white;
    vertical-align: middle;
    font-size: 25px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: 0;
    height: 0px;
}

#left-side {
    width: 50%;
}

#left-side {
    text-align: center;
}

#right-side {
    width:50%;
    display: flex;
    justify-content: center;
}

#right-side p {
   
    transition: 0.2s ease-in-out;
}

#right-side p:hover, #right-side p:hover a{
    color: white;
    background-color:#FF3358;

}

#right-side p a {
    padding: 8px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color:white;
    vertical-align: middle;
    font-weight: bold;
    font-size: 30px;
    color: #FF3358;
    transition: 0.2s ease-in-out;
}

.recept-item {
    border: black 1px solid;
    margin: 10px 0;
    transition: ease-in-out 0.15s;
}

.recept-item:hover {
    transform: scale(1.01);
}

.recept-item h2, .recept-item p {
    margin-left: 15px;
    color: black;
}

.browse-goback {
    margin: auto;
    width: 500px;
    text-align: center;
}

.recept-postup {
    font-size: 0.8em;
    font-weight: normal;
}

fieldset {
    border-radius: 10px;
    margin-bottom: 20px;
}

fieldset div {
    margin: 3px;
}

fieldset legend {
    font-weight: bold;
}

input, textarea{
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
}

input[type="submit"] {
    border: none;
    border-radius: 10px;
    width: 120px;
    background-color: #FF3358;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.15s;
    font-family: 'Arvo', arial;
    font-weight: normal;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #ff0634

}

.submit-btn {
    text-align: center;
}

label:first-child {
    display: inline-block;
    width: 200px;
}

label {
    vertical-align: top;
    text-align: right;
    margin-top: 8px;
}

#nazev, #popis {
    width: 300px;
}

#cas {
    width: 100px;
}

#jmeno {
    width:200px;
}

#page-detail h1 {
    margin-bottom: 0;
}

#page-detail h2 {
    font-weight:normal;
    margin-top: 0;
}

#page-detail h3 {
    font-weight:normal;
    margin: 0 auto;
}

#page-detail p {
    margin-top: 0;
}